
/* General css */
body {
  width: 100%;
   height: 100%;
    min-width: 620px; 
    min-height: 720px;
}
.container {
    max-width: 600px;
    max-height: 700px;
    min-width: 370px;
    min-height: 540px;
    background-color: rgb(252,185,0);
    color: #000;
    top: 50%;
    left: 50%;
    resize: both;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 20px 
    rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
  }

  .topRight {
    position: absolute;
    top: 28px;
    left: 28px;
    display: inline-block;
  }
  

  @media only screen and (max-width: 250px) {

  }

  .container input {
    width: 100%;
  }

  .container input[type="text"], input[type="number"], input[type="password"] {
    border: none;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
  }

  .container  input[type="checkbox"] {
    border: 1px solid #000;
    background: transparent;
    outline: none;
  }

  .class border {
    border: 1px solid #000;
    padding: 5px;
  }

  .container label {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .container input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: black;
    margin-top: 20px;
    border-radius: 20px;
    transition: 0.4s;
  }

  .table input[type="submit"] {
    text-align: center;
  }
  
  .container input[type="submit"]:hover {
    color: black;
    background: white;
  }

.buttonPass {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;
  
}

.changeButton {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  display: inline-block;
  text-align: center;
  color: white;
  background: black;
  border-radius: 20px;
  transition: 0.4s;
  position: relative;
  margin-left: -50px;
  margin-top: 20px;
  left: 50%;
}


.changeButton:hover {
  color: black;
  background: white;
}

.small-button {
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  color: white;
  background: black;
  border-radius: 20px;
  transition: 0.4s;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  left: 50%;
}

.small-button:hover {
  color: black;
  background: white;
}

.small-button-right {
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  color: white;
  background: black;
  border-radius: 20px;
  transition: 0.4s;
  position: relative;
  margin-left: -20px;
  margin-top: 5px;
  left: 50%;
}

.small-button-right:hover {
  color: black;
  background: white;
}

.title {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.tableClass {
  border-collapse: collapse;
  border: 1px solid black;
}

.tableText {
  display: inline-block;
  border-bottom: none;
  font-size: 10px;
  border: none;
  min-width: 40px;
  min-height: 20px;
}

table, td {
  border: 1px solid black;
  text-align: center;
}

.space {
  margin-top: 50px;
}

.bigSpace {
  margin-top: 100px;
}

/* Arrow */
ul {
  margin: 1.5em 2em 1em;
  text-align: center;
  list-style: none;
}
ul + ul {
  margin-top: -1em;
}
ul li {
  display: inline-block;
  margin: 40px;
}

/* arrow common style */
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow:hover {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.inPutFix {
  display: inline-block;
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  
}

.hide {
  display: none;
}